<footer class="page-footer orange lighten-2">
    <div class="container">
        <div class="row">
            <div class="col m3 s12">
                <h5 class="white-text">Follow us</h5>
                <ul>
                    <a href="https://www.facebook.com/ShashikalaTravel/?modal=admin_todo_tour" class="icon-block">
                        <img src="../../assets/img/fb.png" alt="facebook">
                    </a>
                    <a href="https://shashikalatoursandtravelspune.justdial.com/?owner=0&jde=0&mobile=" class="icon-block">
                        <img src="../../assets/img/jd.png" alt="just dial">
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-1" href=""> &nbsp; hexadigi</a>
        </div>
    </div>
</footer>
