<div class="hr-sect">
  <h5 style="color:black">about us</h5>
</div>
<div class="center container mat-elevation-z4">
  <div style=" padding:4px; font-size: 1.2rem;">
    <p>
      *Our motive is to provide safe, Fun & unforgettable Journey with us, that creates memories & smiles on your
      face.
    </p>
    <p>
      * We aleays give Respect & Loyality commitment to our clients.
    </p>
    <p>
      * Our mission and goals to provide best service in Pune.
    </p>
  </div>
</div>
<br><br>
<app-contact-us></app-contact-us>