h4>i{
    font-size: 4rem;
}

.header{
    font-weight: 600;
    font-size: 1.7rem;
    color: aliceblue;
}



.head-number{
    font-size: 2.5rem;
}
.number{
    display: inline;
    padding-left: 8px;
}