<div class="parallax-container">
  <div class="container">
    <br><br>
    <div class="row center">
      <img src="../../assets/img/Logo.png" width="70" alt="">
      <h4 class="header col s12 orange-text  text-lighten-2">Shashikala Tours & Travels</h4>
      <h5 class="header col s12 light">Cab Rental Agency in Pune</h5>
      <h6 class="header col s12 light">24/7 Taxi Service</h6>
    </div>
    <div class="row center">
      <a href="tel:+918668492860" id="download-button" class="btn-large waves-effect waves-light hide-on-med-and-up orange lighten-2">CALL
        NOW
      </a>
      <div class=" head-number hide-on-med-and-down white-text ">
        <mat-icon style="font-size:2.5rem;"> phone</mat-icon>
        <span class="number"> +918668492860 </span>
      </div>
    </div>
    <br><br>
  </div>
  <div class="parallax" materialize="parallax"><img src="../../assets/img/1.jpeg"></div>
</div>

<h1 class="center">welcome</h1>
<h5 class="center">Shashikala Tours & Travels</h5>

<div class="row">
  <div class="col s6 m3">
    <div class="icon-block">
      <h4 class="center teal-text text-lighten-2">
        <i class="material-icons">
          money
        </i>
      </h4>
      <h5 class="center">LOW CHARGES</h5>
    </div>
  </div>
  <div class="col s6 m3">
    <div class="icon-block">
      <h4 class="center teal-text text-lighten-2"><i class="material-icons">group</i></h4>
      <h5 class="center">SAFE & SECURE</h5>
    </div>
  </div>

  <div class="col s6 m3">
    <div class="icon-block">
      <h4 class="center teal-text text-lighten-2"><i class="material-icons">access_time</i></h4>
      <h5 class="center">24/7 SERVICE</h5>
    </div>
  </div>
  <div class="col s6 m3">
    <div class="icon-block">
      <h4 class="center teal-text text-lighten-2"><i class="material-icons">sentiment_satisfied_alt</i></h4>
      <h5 class="center">HAPPY CUSTOMERS</h5>
    </div>
  </div>
</div>
<br><br>
<div class="center container mat-elevation-z4">
  <div style=" padding:4px; font-size: 1.2rem;">
      <p>
          *Our motive is to provide safe, Fun & unforgettable Journey with us, that creates memories & smiles on your
          face.
      </p>
      <p>
          * We always give Respect & Loyality commitment to our clients.
      </p>
      <p>
          * Our mission and goals to provide best service in Pune.
      </p>
  </div>
</div>
<div class="hr-sect">
  <h3 style="color:black">Our Services</h3>
</div>
<app-our-services></app-our-services>

<div class="hr-sect">
    <h5 style="color:black">Contact Us</h5>
</div>

<app-contact-us></app-contact-us>